# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AutoLectureRecorder.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Michalis\Documents\GitHub\AutoLectureRecorder\.idea\.idea.AutoLectureRecorder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
